/* #content-page {
  justify-content: center;
}

#banner {
  justify-content: center;
} */

#main-container {
  background-color: white;
  padding: 30px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
}

.chatroom {
  width: 200px;
  height: 200px;
  border: 2px solid red;
  margin: 0 auto;
}

body {
  display: flex;
  justify-content: center;
  font-family: "MapleStory OTF";
  padding: 20px;
  background-color: #f5f5f5;
  color: hsl(0, 0%, 20%);
  background-image: url("../asset/background/bg3.jpg");
  background-size: cover;
}

main {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 20px auto;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}