#container-chat {
	width: 480px;
	height:220px;
	margin: 10px;
}

#chat-list {
	width: 100%;
	width: max-content;
	margin: 0 10px;
	padding: 0;
	gap : 0;
	display: flex;
}

#chat-list > button {
	margin: 0;
	padding: 0;
	width: 40px;
	height: 20px;
	background-color: rgb(0,0,0,0.8);
	border-radius: 5px 5px 0 0;
}

#chat {
	width: 480px;
	height:200px;
	background-color: rgb(0,0,0,0.7);
	border-radius: 10px;
}

