#box {
    background-color: white;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    margin-left: auto;
    margin-top: 10px;
    margin-right: 10px;
}

#manage {
    display: block;
    text-align: center;
    background-color: tan;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#find {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top:5px;
    margin-bottom:5px;
}

#find input {
    flex: 1; /* input 요소가 차지할 수 있는 모든 공간을 차지하도록 설정 */
    border: none; /* input의 기본 테두리 제거 */ 
}

#find input:focus {
    outline: none; /* input에 포커스 되었을 때 기본 outline 제거 */
}

.content {
    margin: 5px;
}

.icon {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 5px;
}

.decide {
    /* margin-right: 15px; */
    padding-top: 5px;
}

.inter {
    margin-left: auto;
}

.ignore {
    margin-left: 5px;
}

#request {
    margin: 10px;
}

#list {
    margin: 15px;
}

/* friend request */

#requestFriend {
    margin:5px;
}

#requestBox {
    display: flex;
    flex-direction: row;
}

#requestName {
    background-color: yellow;
}

.exchange {
    display: flex;
    margin: 5px;
	height: 20px;
    width: 100%;
}