#login-box {
  background-image: url("../../public/asset/background/board.png");
  background-size: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 400px;
  height: 400px;
  margin: 5px;
}

#infos {
  display: flex;
  flex-direction: row;
}

.info {
  margin:10px;
}

#other-btns {
  display: flex;
  justify-content: center;
}

.btns {
  margin: 3px;
}