.nicknameContainer {
	display: flex;
	gap: 20px;
	height: 20px;
	width: 100%;
	padding: 5px;
	position: relative;
	align-items:first baseline;
}

.hovermenu{
	background-color: rgba(249, 213, 255, 0.8);
	/* position: absolute; */
	right: 20px;
	top: 0px;
	box-shadow: 2px 2px 3px black;
	padding: 5px 10px;
}
ul {
	list-style: none;
	line-height: 1.8;
}
/* .hidden :hover {
	background-color: rgba(234, 200, 150, 0.3);
} */