.nicknameContainer {
  display: flex;
  gap: 20px;
  height: 20px;
  /* width: max-content; */
  padding: 5px;
  position: relative;
  align-items: first baseline;
}

.hovermenu {
  background-color: rgba(249, 213, 255, 0.8);
  /* position: absolute; */
  right: -100px;
  top: 0px;
  box-shadow: 2px 2px 3px black;
  padding: 5px 10px;
  width: max-content;
  z-index: 3000;
  position: absolute;
}
ul {
  list-style: none;
  line-height: 1.8;
  width: max-content;
  color: black;
}
.nickname {
  position: static;
}
