.nicknameContainer {
  display: flex;
  gap: 20px;
  height: 20px;
  width: max-content;
  padding: 5px;
  position: relative;
  align-items: first baseline;
}

.nicknameContainer .hovermenu {
  background-color: rgba(249, 213, 255, 0.8);
  box-shadow: 2px 2px 3px black;
  padding: 5px 10px;
  z-index: 3000;
  position: absolute;
}

.hovermenu > ul {
  list-style: none;
  line-height: 1.8;
  color: black;
}

.hovermenu li {
  width: max-content;
}
.nickname {
  position: static;
}
