.nicknameContainer {
	display: flex;
	gap: 20px;
	height: 20px;
	width: 100%;
	padding: 5px;
	margin-top: 40px;
}

.hovermenu{
	background-color: aqua;
	position: sticky;
	left: 0px;
	top: 0px;
	box-shadow: 2px 2px 3px black;
	padding: 5px 10px;
}
ul {
	list-style: none;
}
/* .hidden :hover {
	background-color: rgba(234, 200, 150, 0.3);
} */