#Signup-container {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

#userinputBox, #nickinputBox {
  margin: 10px;
}

#passinputBox {
  margin: 10px;
}

#p-id-error, #p-nick-error {
  color: white;
}

.errMessage {
  font-size: 15px;
}

#new-username, #new-password, #new-nickname {
  width: 300px;
}