/* Signup.css */

  #id-container {
    display: flex;
  }

  #signup-form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    background-color: #f9f9f9;
  }
  
  #signup-username, #signup-nickname, #signup-password {
    display: flex;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box; /* Makes sure padding does not affect total width */
  }

  #input-username, #input-id {
    display: flex;
    width: 70%;
    margin: 10px;
    height: 20px;
    justify-content: center;
  }

  #input-password {
    display: flex;
    width: 100%;
    margin: 10px;
    height: 20px;
    justify-content: center;
  }

  .dup-check {
    width: 150px;
  }

  #btn-container {
    display: flex;
    justify-content: center;
  }
