#container-UserStatus {
	
	width:307px;
	height:111px;
	padding: 0px;
	margin: 0;
	text-align: center;
	background-color: #3f3f3f;
	border-radius: 6px 6px 0px 0px;
	border-bottom-left-radius: 10px;
}

div{
	align-items: center;
}

#info-line{
	width: 100%;
	height: 33.4%;
	display: flex;
	margin: 0;
}

.level, .usernickname{
	font-family: sans-serif;
	/* font-family: "Nanum-Gothic"; */
	font-weight: 600;
	font-size: 20px;
}

.level{
	width: 20%;
	color: #FFB800
}

.usernickname {
	color: white;
}

.status-line {
	width: 100%;
	height: 33.3%;
	display: flex;
	box-shadow: 0px -4px 4px 0px #00000040 inset;
	box-shadow: 0px 4px 4px 0px #00000040;
}

#stat-name {
	width: 30%;
}
#stat-value {
	width: 70%;
	height: 100%;
	position: relative;
	padding: 0;
}

#stat-value-text{
	position: relative;
	z-index: 5;
	top: 30%;
	color: #FFFFFF;
	text-shadow: 0px 0px 2px black;
}
#stat-value-bar{
	position:absolute;
	top: 20%;
	height: 60%;
	width: 100%;
	z-index: 0;
	border-radius: 6px;
	border: 1px solid #000000;
}
.red{
	background: linear-gradient(180deg, #FF3559 0%, rgba(255, 53, 89, 0.47) 49.48%, #FF3459 100%);

}
.blue{
	background: linear-gradient(180deg, #00C2FF 0%, rgba(0, 194, 255, 0.32) 49.48%, #00C2FF 100%);
}