.hidden {
    display: none;
}

/* index.html */
#bg1 {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background: url('../img/mapletree.jpg');
    background-size: cover;
}

#logo-container {
    position: relative;
    height: 400px;
    width: 2600px;
}

#loginBtn-container {
    position: relative;
    height: 400px;
    width: 2600px;
}

#transcendence {
    position: absolute;
    right: 150px;
    top: 90%;
    font-family: 'MapleStory OTF';
    font-weight: bolder;
    font-size: 120px;
    line-height: 100px;
    letter-spacing: -0.05em;
    color: #ffffff;
    -webkit-text-stroke: 8px black;
}

#leaf {
    position: absolute;
    right: 120px;
    width: 500px;
    height: auto;
}

#board {
    position: absolute;
    right: 120px;
    width: 400px;
    top: 80%;
}

#loginBtn {
    position: absolute;
    right: 196px;
    top: 115%;
    font-family: 'MapleStory OTF';
    font-weight: bolder;
    font-size: 120px;
    line-height: 100px;
    letter-spacing: -0.05em;
    color: #ffffff;
    -webkit-text-stroke: 10px brown;
}

#temp-profile {
    position: absolute;
    left: 300px;
    top: 10%;
    text-decoration-line: none;
    font-family: 'MapleStory OTF';
    /* font-weight: bolder; */
    font-size: 50px;
    line-height: 100px;
    /* letter-spacing: -0.05em; */
    color: #ffffff;
}

/****************/
/* profile.html */
/****************/

#temp-login {
    position: absolute;
    right: 300px;
    top: 10%;
    text-decoration-line: none;
    font-family: 'MapleStory OTF';
    /* font-weight: bolder; */
    font-size: 50px;
    line-height: 100px;
    /* letter-spacing: -0.05em; */
    color: #ffffff;
}

#bg2 {
    position: absolute;
    width: 2860px;
    height: 1623px;
    left: -300px;
    top: -300px;
    background: url('../img/bg3.jpg');
    background-size: cover;
}

#character-container {
    position: absolute;
    width: 500px;
    height: 500px;
    top: 665px;
    left: 1050px;
}

.status-bar {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 300px;
    top: 1100px;
    left: 1150px;
}

.status-bar-black {
    position: relative;
    text-align: center;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    background-color: black;
    border-radius: 10px;
}

.status-bar-grey {
    position: relative;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 10px;
    background-color: lightgrey;
    border-radius: 10px;
}

.status-bar-white {
    position: relative;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 10px;
    background-color: white;
    border-radius: 10px;
}

.bar {
    display: flex;
    width: 200px;
    height: 30px;
    background-color: white;
    margin: 5px 0;
    position: relative;
    align-items: center;
}

.nickname {
    margin-bottom: 5px;
    font-family: 'MapleStory OTF';
    font-size: 20px;
    color: white;
}

.level {
    margin-bottom: 5px;
    font-family: 'MapleStory OTF';
    font-size: 20px;
    padding-right: 15px;
    color: yellow;
}

.bar {
    display: flex;
    width: 100%;
    background-color: transparent;
}

.bar-name {
    width: 20%;
    text-align: center;
    font-family: 'MapleStory OTF';
}

.health-bar {
    background-color: red;
    font-family: 'MapleStory OTF';
    color: white;
    justify-content: center;
    border-radius: 10px;
}

.mana-bar {
    background-color: deepskyblue;
    font-family: 'MapleStory OTF';
    color: white;
    justify-content: center;
    border-radius: 10px;
}

.buttons {
    display: flex;
    position: absolute;
    top: 1090px;
    left: 1500px;
}

.game-button {
    cursor: pointer;
    transition: 0.5s;

    padding: 5px;
    width: 150px;
    height: 125px;
    font-size: 50px;
    margin: 10px;
    background-color: orange;
    font-weight: bold;
    border-radius: 10px;
    font-family: 'MapleStory OTF';
    -webkit-text-stroke: 2px white;
}

.game-button {
    cursor: pointer;
    transition: 0.5s;
    padding: 5px;
    width: 150px;
    height: 125px;
    font-size: 50px;
    margin: 10px;
    background-color: orange;
    font-weight: bold;
    border-radius: 10px;
    font-family: 'MapleStory OTF';
    -webkit-text-stroke: 2px white;
}

.game-button:hover {
    background-color: #ff8c00;
}

.info-button {
    padding: 5px;
    width: 150px;
    height: 125px;
    font-size: 50px;
    margin: 10px;
    background-color: lightskyblue;
    border-radius: 10px;
    font-weight: bold;
    font-family: 'MapleStory OTF';
    -webkit-text-stroke: 2px white;
}

.info-button:hover {
    background-color: deepskyblue; /* 진한 하늘색으로 변경 */
}

.setting-button {
    padding: 5px;
    width: 150px;
    height: 125px;
    font-size: 50px;
    margin: 10px;
    border-radius: 10px;
    font-weight: bold;
    background-color: lavender;
    font-family: 'MapleStory OTF';
    -webkit-text-stroke: 2px white;
}

.setting-button:hover {
    background-color: mediumpurple; /* 진한 보라색으로 변경 */
}

#info-container {
    position: absolute;
    background-color: white;
    width: 300px;
    top: 400px;
    left: 1290px;
    width: 500px;
    text-align: center;
    border-radius: 10px;
    font-family: 'MapleStory OTF';
    padding: 5px;
    font-size: 40px;
    transform: translate(-50%, -50%);
}

#my-info {
    position: relative;
}

#ask-new {
    font-size: 20px;
}

#nick-change {
    font-size: 30px;
    font-family: 'MapleStory OTF';
}
